body>header>div:only-child{
    display: none;

}
body>header>div:only-child>a:nth-child(1)>div:only-child{
    display: none;

}
body>header>div:only-child>a:nth-child(1)>div:only-child>img{
    display: none;

}
body>header>div:only-child>a:nth-child(2)>div:only-child{
    display: none;

}
body>header>div:only-child>a:nth-child(2)>div:only-child>img{
    display: none;
}
body>header>div:only-child>a:nth-child(3)>div:only-child{
    display: none;

}
body>header>div:only-child>a:nth-child(3)>div:only-child>img{
    display: none;

}


body>main{
    width: 100vw;
    height: 130vh;
}
/*//////////// Topic //////////////*/
body>main>div:nth-child(1)>div:nth-child(1){
    width: 75vw;
    height: 2vw;
    position: absolute;
    top: 5vw;
    left: 11%;
}
body>main>div:nth-child(1)>h1{
    font-size: 7vw;
    margin: auto;
    position: absolute;
    top: 7vw;
    left: 33%;
}
body>main>div:nth-child(1)>div:nth-child(2){
    width: 78vw;
    height: 2vw;
    position: absolute;
    top: 14vw;
    left: 8%;
}


body>main>div:nth-child(3)>div{
    width: 2vw;
    height: 125vh;
    position: absolute;
    top: 15vw;
    left: 8%;
}

/*//////////// Nova-Fit //////////////*/
body>main>div:nth-child(2)>div:nth-child(1)>h3{
    font-size: 5vw;
    margin: 0;
    position: absolute;
    top: 18vw;
    left: 12%;
}
body>main>div:nth-child(2)>div:nth-child(1)>p{
    font-family: 'Dongle', sans-serif;
    font-size: 5vw;
    line-height: 5vw;
    margin: 0;
    width: 85vw;
    position: absolute;
    top: 68vw;
    left: 12%;
}
body>main>div:nth-child(2)>div:nth-child(1)>a>div:nth-child(1){
    position: absolute;
    top: 95vw;
    left: 43%;
}
body>main>div:nth-child(2)>div:nth-child(1)>a>div:nth-child(2){
    position: absolute;
    top: 94vw;
    left: 42%;
}
body>main>div:nth-child(2)>div:nth-child(1)>a>div:nth-child(3){
    font-size: 6vw;
    position: absolute;
    top: 95vw;
    left: 55%;
}
body>main>div:nth-child(2)>div:nth-child(1)>img{
    width: 75vw;
    height: 40vw;
    position: absolute;
    top: 25vw;
    left: 12%;
}

/*//////////// Aqua Buddy //////////////*/
body>main>div:nth-child(2)>div:nth-child(2)>h3{
    font-size: 5vw;
    margin: 0;
    position: absolute;
    top: 110vw;
    left: 12%;
}
body>main>div:nth-child(2)>div:nth-child(2)>p{
    font-family: 'Dongle', sans-serif;
    font-size: 5vw;
    line-height: 5vw;
    margin: 0;
    width: 85vw;
    position: absolute;
    top: 160vw;
    left: 12%;
}
body>main>div:nth-child(2)>div:nth-child(2)>a>div:nth-child(1){
    position: absolute;
    top: 187vw;
    left: 43%;
}
body>main>div:nth-child(2)>div:nth-child(2)>a>div:nth-child(2){
    position: absolute;
    top: 186vw;
    left: 42%;
}
body>main>div:nth-child(2)>div:nth-child(2)>a>div:nth-child(3){
    font-size: 6vw;
    position: absolute;
    top: 187vw;
    left: 55%;
}
body>main>div:nth-child(2)>div:nth-child(2)>img{
    width: 75vw;
    height: 40vw;
    position: absolute;
    top: 117vw;
    left: 12%;
}

/*//////////// AquaBuddy //////////////*/
body>main>div:nth-child(2)>div:nth-child(3)>h3{
    font-size: 5vw;
    margin: 0;
    position: absolute;
    top: 202vw;
    left: 12%;
}
body>main>div:nth-child(2)>div:nth-child(3)>p{
    font-family: 'Dongle', sans-serif;
    font-size: 5vw;
    line-height: 5vw;
    margin: 0;
    width: 85vw;
    position: absolute;
    top: 252vw;
    left: 12%;
}
body>main>div:nth-child(2)>div:nth-child(3)>a>div:nth-child(1){
    position: absolute;
    top: 279vw;
    left: 43%;
}
body>main>div:nth-child(2)>div:nth-child(3)>a>div:nth-child(2){
    position: absolute;
    top: 278vw;
    left: 42%;
}
body>main>div:nth-child(2)>div:nth-child(3)>a>div:nth-child(3){
    font-size: 6vw;
    position: absolute;
    top: 279vw;
    left: 55%;
}
body>main>div:nth-child(2)>div:nth-child(3)>img{
    width: 75vw;
    height: 40vw;
    position: absolute;
    top: 209vw;
    left: 12%;
}


body>footer{
    display: none;
}
body>footer>div:only-child{
    display: none;
}
body>footer>div:only-child>div:nth-child(1)>div:nth-child(1)>img:nth-child(1){
    display: none;
}
body>footer>div:only-child>div:nth-child(1)>div:nth-child(2){
    display: none;
}
body>footer>div:only-child>div:nth-child(1)>div:nth-child(3){
    display: none;
}
body>footer>div:only-child>div:nth-child(1)>div:nth-child(4)>img:nth-child(1){
    display: none;
}
body>footer>div:only-child>div:nth-child(1)>div:nth-child(5){
    display: none;
}
body>footer>div:only-child>div:nth-child(1)>div:nth-child(6){
    display: none;
}
body>footer>div:only-child>div:nth-child(1)>div:nth-child(7)>img:nth-child(1){
    display: none;
}
body>footer>div:only-child>div:nth-child(1)>div:nth-child(8){
    display: none;
}
body>footer>div:only-child>div:nth-child(1)>div:nth-child(9){
    display: none;
}

.blueBtn{
    background-color: #3498db;
    width: 50vw;
    height: 8vw;
    transform: skew(-20deg);
}
.redBtn{
    background-color: #FD1941;
    width: 50vw;
    height: 8vw;
    transform: skew(-20deg);
}